extends layout

block content
  h1=title

  if successMessage
    p #{successMessage}
    
  if !successMessage
    form(method='POST' action='')
      div.form-group
        label(for='email') Email:
        input#email.form-control(type='email' placeholder='Email' name='email' required=true )
      button.btn.btn-primary(type='submit') Submit
  
  if errors 
    ul
      each error in errors
        li!= error
  hr
  p 
    a(href='/user/register') Create new account
  p 
    a(href='/user/login') Login your account