extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='password') New Password:
      input#password.form-control(type='password' placeholder='New Password' name='password' required=true value=(password || undefined) )
      label(for='password') Confirm New Password:
      input#confirmPassword.form-control(type='password' placeholder='Confirm New Password' name='confirmPassword' required=true value=(confirmPassword || undefined) )
    button.btn.btn-primary(type='submit') Submit
  
  if errors 
    ul
      each error in errors
        li!= error
  hr
  p 
    a(href='/user/register') Create new account
  p 
    a(href='/user/login') Login your account